#contact_modal {
    display: none;
}

.photograph-header {
    background-color: #FAFAFA;
    height: 300px;
    margin: 0 100px;
    display: flex;
    justify-content:space-between;
    align-items: center;
    padding: 0 40px;
   
}
.photograph-header_photo{
        width: 200px;
        height: 200px;
        border-radius: 50%;
        object-fit: cover;
    }
.info{
    align-items: start;
}

.info h1{
        color: #D3573C;
        font-size: 50px;
        font-weight: 400;
        margin: 0%;
    }
.info h3{
        
        font-size: 24px;
        font-weight: 400;
        color: #901C1C;
        margin: 10px 0 0 0;
     }
.info h4{
       margin-top: 20px;
        font-size: 18px;
        font-weight: 400;
        text-align: left;
        color: #525252;
        margin: 10px 0 0 0 ;

    }

.contact_button {
    font-size: 20px;
    font-weight: bold;
    color: white;
    padding: 11px;
    width: 170px;
    height: 70px;
    border: none;
    background-color: #901C1C;
    border-radius: 5px;
    cursor: pointer;
}
.trie-text {

    font-size: 18px;
    font-weight: 700;
    line-height: 23px;
    letter-spacing: 0em;
    text-align: left;
    margin-left: 101px;

}
.photograph-media__input {
    margin: 20px 0;
}
select {
    font-size: 1em;
    font-weight: 500;
    border: none;
    padding: 6px 10px;
    border-radius: 5px;
    background: #901C1C;
    color: white;
}
#photograph-media{
    display: flex;
    justify-content: space-evenly; 
    align-items: center;
    flex-wrap: wrap;
    margin-left: 100px;
}
.medias_photographer{
    width: 350px;
    height: 351px;
    margin: 0 95px 20px 0;
    
}
.medias-photographer_pic{
    width: 100%;
    height: 300px;
    object-fit: cover;
}
.media_photo__information{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}
.information-likes{
    width: 50px;
display: flex;
align-items: center;
justify-content:space-between;
}
.likes{
    font-family: DM Sans;
    font-size: 24px;
    font-weight: 500;
    line-height: 31px;
    letter-spacing: 0em;
    text-align: right;
    color: #901C1C;

    
}


.modal {
    border-radius: 5px;
    background-color: #DB8876;
    width: 50%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    padding: 35px;
    margin: auto;
}

.modal header {
    justify-content: space-between;
    width: 100%;
}

.modal header img {
    cursor: pointer;
}

.modal header h2 {
    font-size: 64px;
    font-weight: normal;
    text-align: center;
}

form {
    display: flex;
    width: 100%;
    flex-direction: column;
    align-items: flex-start;
}

form label {
    color: #312E2E;
    font-size: 36px;
}

form div {
    display: flex;
    flex-direction: column;
    width: 100%;
    align-items: self-start;
    margin-bottom: 26px;
}

form input {
    width: 100%;
    height: 68px;
    border: none;
    border-radius: 5px;
}