@import url("photographer.css");

body {
    font-family: "DM Sans", sans-serif;
    margin: 0;
    padding:  42px 0 119px 0  ;
}


header {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    height: 90px;
}

h1 {
    color: #901C1C;
    margin-right: 100px;
}

.logo {
    height: 50px;
    margin-left: 100px;
}

.photographer_section {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 70px;
    padding-left: 5%;
    padding-right: 5%;
    margin-top: 100px;
    justify-content: space-between;
}

.photographer_section a {
    justify-self: center;
    display: flex;
    justify-content: start;
    align-items: center;
    flex-direction: column;
    text-decoration: none;
}

.photographer_section a h2 {
    font-family: DM Sans;
    font-size: 36px;
    font-weight: 400;
    line-height: 47px;
    letter-spacing: 0em;
    text-align: center;
    color: #D3573C;
    margin: 0 ;

}
.photographer_section a h3 {
    font-family: DM Sans;
    font-size: 13px;
    font-weight: 400;
    line-height: 17px;
    letter-spacing: 0em;
    text-align: center;
    color: #901C1C;
    margin: 0;

}
.photographer_section a h4 {
    font-family: DM Sans;
    font-size: 10px;
    font-weight: 400;
    line-height: 13px;
    letter-spacing: 0em;
    text-align: center;
    margin: 0;
    }

.photographer_section a img {
    object-fit:cover;
    height: 200px;
    width: 200px;
    border-radius: 100%;
    background: #C4C4C4;

}
